torch==2.2.1
torchaudio==2.2.1
torchvision==0.17.1
mlx==0.8.1
langchain==0.1.17
langchain-cohere==0.1.4
langchainhub==0.1.15
langchain_experimental==0.0.57
numba==0.59.1
numpy==1.26.4
tqdm==4.66.2
more-itertools==10.2.0
tiktoken==0.3.3
huggingface_hub==0.22.1
scipy==1.12.0
streamlit==1.32.2
gTTS==2.5.1
SpeechRecognition==3.10.2
soundfile==0.12.1
sentence-transformers==2.6.1
chromadb==0.4.24
cohere==5.3.2
InstructorEmbedding==1.0.1
flashrank==0.2.0